h1,
h2 {
    text-align: center;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.lista-main {
    text-align: center;
    background-color: #fab791;
    color: orangered;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    list-style-type: none;
}